/* GENERAL STYLES
-------------------------------------------------- */
body {
    margin:0;
}

main {
    height: 100vh;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

nav {
    width: 30%;
    float: left;
    height: 100%;
    background-color: blue;
}

.content {
    width: 70%;
    float: left;
    height: 100%;
    background: red;
}
