/* GENERAL STYLES
-------------------------------------------------- */
body {
    margin:0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 6vh;
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
    justify-content: center;
    border-bottom: solid 1px #000;
}

footer {
    height: 4vh;
    background-color: green;
}

h1 {
    font-size: 14px;
}

main {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .column:nth-child(2) {
        padding-top: 15px;

        .spacer {
            height: 45px;
        }

        .bottomFighter {
            margin-bottom: 45px;   
        }
    }

    .column:nth-child(3).column {
        padding-top: 50px;

        .spacer {
            height: 125px;
        }

        .bottomFighter {
            margin-bottom: 115px;   
        }
    }

    .column:nth-child(4).column {
        padding-top: 125px;

        .spacer {
            height: 274px;
        }
    }

    .column:nth-child(5).column {
        padding-top: 277px;
    }
}

.spacer {
    border-right: solid 1px #000;
}

.column {
    width: 20%;
    float: left;
}

.fighter{
    height: 12px;
    padding-top: 18px;
    font-size: 10px;
    text-align: center;
    border-bottom: solid 1px #000;
}

.bottomFighter{
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    margin-bottom: 15px;
    border-right: solid 1px #000;
}

// nav {
//     width: 30%;
//     float: left;
//     height: 100%;
//     background-color: blue;
// }

// .content {
//     width: 70%;
//     float: left;
//     height: 100%;
//     background: red;
// }
