/* GLOBAL STYLES
-------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GENERAL STYLES
-------------------------------------------------- */
body {
  margin: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif; }

header {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #000; }

footer {
  height: 4vh;
  background-color: green; }

h1 {
  font-size: 14px; }

main {
  width: 90vw;
  height: 90vh;
  margin: 0 auto; }
  main:after {
    content: "";
    display: table;
    clear: both; }
  main .column:nth-child(2) {
    padding-top: 15px; }
    main .column:nth-child(2) .spacer {
      height: 45px; }
    main .column:nth-child(2) .bottomFighter {
      margin-bottom: 45px; }
  main .column:nth-child(3).column {
    padding-top: 50px; }
    main .column:nth-child(3).column .spacer {
      height: 125px; }
    main .column:nth-child(3).column .bottomFighter {
      margin-bottom: 115px; }
  main .column:nth-child(4).column {
    padding-top: 125px; }
    main .column:nth-child(4).column .spacer {
      height: 274px; }
  main .column:nth-child(5).column {
    padding-top: 277px; }

.spacer {
  border-right: solid 1px #000; }

.column {
  width: 20%;
  float: left; }

.fighter {
  height: 12px;
  padding-top: 18px;
  font-size: 10px;
  text-align: center;
  border-bottom: solid 1px #000; }
  .fighter:hover {
    cursor: pointer;
    background-color: #C0C0C0; }

.bottomFighter {
  margin-bottom: 15px;
  border-right: solid 1px #000; }

.looser {
  opacity: 0.2;
  border-bottom-color: "#000000";
  color: "#000000"; }

.winner {
  opacity: 1;
  color: "#FF0000";
  font-weight: "bold";
  border-bottom-color: "#FF0000"; }
